.layout-container {
	display: flex;
	justify-content: space-between;
	height: 100vh;

	.chakra-container {
		margin-right: 250px;
	}
	// if close sidebar
	&.close {
		.chakra-container {
			margin-right: 62px;
			// padding: 0;
		}
	}
}
@media only screen and (max-width: 1199px) {
	.layout-container {
		&.close {
			.chakra-container {
				margin-right: 0;
			}
		}
    .chakra-container {
      margin-right: 0;
    }
	}
}
