@import "@/styles/variables.scss";

.menu_container {
	text-align: right;

	li {
		&:last-child {
			.szh_menu__item {
				justify-content: center;
			}
		}
	}
	.szh_menu__item {
		font-size: 14px;
		font-weight: 400;

		justify-content: flex-end;
		gap: 10px;

		&:hover {
			color: #16181b;
			text-decoration: none;
			background-color: #f6f9fc;
		}
		&:active {
			color: $common-white;
			text-decoration: none;
			background-color: $theme-2;
		}
	}
}
